.seat-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}
.seat-head{
text-align: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    
    
}
body{
    background-color:lightblue;
    padding: 20px;
}
a{
    
}