<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <form method="post" action="../controller/forgotPasswordcheck.php" enctype="">
        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th colspan="2">Recover Your Account</th>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email_recover" value="" required /></td>
            </tr>
            <tr>
                <td>Security Question:</td>
                <td>
                    <select name="security_question_recover" required>
                        <option value="" disabled selected>Select a question</option>
                        <option value="sports">What is your Favourite Sports?</option>
                        <option value="first_pet">What was the name of your first pet?</option>
                        <option value="favorite_player">Who is your favorite player</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Answer:</td>
                <td><input type="text" name="security_answer_recover" value="" required /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="recover" value="Update Password" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>