<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="../asset/CSS/login.css">
    <script src="../asset/JS/login.js" defer></script>
</head>
<body>
    <h1>Login Form</h1>

    <div class="login-container">
        <form method="post" action="../controller/logincheck.php" onsubmit="return validateLogin()">

            <table>
                <tr>
                    <th colspan="3">Login Information</th>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" id="username" name="username" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" id="password" name="password" />
                    </td>
                    <td>
                        <button type="button" id="revealPassword">Show</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="forgot-password">
                        <a href="./forgetPassword.html">Forgot Password?</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="signup">
                        No Account? <a href="./signup.html">Sign up</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
