<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
</head>
<body>
    <h1>Update Password Form</h1>

    <form method="post" action="../controller/update_password.php" enctype="">
        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th colspan="2">Enter New Password</th>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="password" name="new_password" value="" required /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="password" name="confirm_new_password" value="" required /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="update_pass" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>